# Python
.mypy_cache
__pycache__

# Env
*.env
env/
/venv

# IDE
.vscode/

# Logs
*.log
logs/

# Output files
error_log.csv
score.csv
total_score.csv

# Others
.DS_Store
scripts/*
tests/*
scripts/*
out/*
media/
data/

# Python Model
Train.pth
# Also add reference-json-directory and parsed-results-directory here